@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(206, 206, 206);
  font-family: 'Poppins';
}

.calculator {
  width: 370px;
  padding: 30px;
  border: 2px solid #040404;
  border-radius: 10px;
  color: #ccc;
  height: 550px;
  background-color: rgb(4, 2, 12);
  box-shadow: 0 4px 8px 0 rgb(14, 14, 14), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calculator input {
  width: 300px;
  box-sizing: border-box;
  padding: 40px 50px;
  margin-bottom: 20px;
  background-color: #171616;  
  border-radius: 10px;
  height: 110px;
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-align: right;
  border:none;
  box-shadow: none;
}

.calculator input::placeholder {
  color:rgb(255, 255, 255);
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  font-size: 32px;
  padding: 20px 5px;
}

.calculator button {
  width: 62px;
  height:62px;
  padding: 5px 0px;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: rgb(95, 92, 92);
  background-color: #121212;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgb(71, 70, 70), 0 6px 20px 0 rgba(35, 35, 35, 0.19);
  border: 1px solid black;
}

.calculator button:hover{
    background-color: #383838;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.calculator button:active{
    background-color: #ffffff;
    color:rgb(0, 0, 0);
}

.calculator .button2{
    background-color: rgb(214, 154, 23);
}

.calculator .button2:hover{
    background-color: rgb(243, 195, 92);
}